

.red{
    margin-left: 200px;
    width:100px;
    height:100px;
    font-size: 40px;
    background: red;
    transform:perspective(500px) rotateX(20deg) translateZ(100px);
}
.blue{
    margin-left: 200px;
    width:100px;
    height:100px;
    font-size: 40px;
    background: blue;
    transform:perspective(500px) rotateX(0deg)translateZ(100px);
}